<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.your_package_name">

    <uses-permission android:name="android.permission.INTERNET"/> <!-- Add this line for internet permission -->

    <application
        android:name="${applicationName}"
        android:label="BMS"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/launcher_icon">

        <!-- Your activity declaration goes here -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Activity intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding meta-data -->
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme"/>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

</manifest>
